.highlight-w {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow   : inset 0 0 3px 3px yellow;
  box-shadow        : inset 0 0 3px 3px yellow;
}
.highlight-b {
  -webkit-box-shadow: inset 0 0 3px 3px blue;
  -moz-box-shadow   : inset 0 0 3px 3px blue;
  box-shadow        : inset 0 0 3px 3px blue;
}