#body-row {
  margin-top:15px;
}


body {
  background-color: #866e6e;
}

.btn-primary {
  color: #fff;
  background-color: #b73f33;
  border-color: #a42e2e;
}

.btn-primary:hover {
  color: #fff;
  background-color: #902828;
  border-color: #742020;
}

.btn-primary.active, .btn-primary:active {
  color: #fff;
  background-color: #902828;
  border-color: #742020;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #902828;
  border-color: #401212;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #742020;
  border-color: #401212;
}

/* CHESS */

.highlight-w {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow   : inset 0 0 3px 3px yellow;
  box-shadow        : inset 0 0 3px 3px yellow;
}
.highlight-b {
  -webkit-box-shadow: inset 0 0 3px 3px blue;
  -moz-box-shadow   : inset 0 0 3px 3px blue;
  box-shadow        : inset 0 0 3px 3px blue;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.players {
  /* width: 300px; */
}

#my-games li,
#players li {
  cursor: pointer;
  padding-left:10px;
  padding-right:10px;
}

.header-buttons {
  /*float: right;*/
  margin-top:5px;
  margin-left: -3px;
}

.footer-buttons {
  text-align: right;
  margin-right: -5px;
}

#my-games {
  width: 100%;
  /*height: 300px;*/
  overflow: auto;
  padding-left: 10px;
}

#my-games .game {
  padding-left: 5px;
}

.selected-player {
  background-color:#E0E0E0;
  color:#0fb32a;
  font-weight:bold;
}

input[type="button"]:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

#log {  
  overflow: auto;
  max-height: 300px; 
}

#turn-status, #board-status {
  font-size: 20px;
  margin: 10px;
  font-weight: 800;
  text-align: center;
}